.checkout-form {
  background-color: rgb(42, 41, 41);
  color: white;
  width: 50%;
  height: 65%;
  top: 25%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  box-sizing: border-box;
}

.checkout-form > p {
  font-size: 1.2em;
  color: white;
  font-weight: 500;
  margin-bottom: 1rem;
}
.checkout-form label {
  display: block;
  margin-bottom: 0.625rem;
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 2rem;
}

.checkout-form input {
  margin-top: 0.3125rem;
  width: 80%;
  border: 2px solid transparent;
  background-color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.submit-and-cancel-buttons {
  margin-top: 1rem;
}

.submit-and-cancel-buttons button {
  padding: 10px 20px;
  background-color: rgb(37, 119, 37);
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 2rem 0.3125rem;
  flex-grow: 1;
}

.submit-and-cancel-buttons button:hover {
  background-color: rgb(11, 82, 11);
}

@media (max-width: 768px) {
  .checkout-form {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .checkout-form {
    width: 90%;
    height: auto;
    top: 15%;
  }

  .checkout-form input,
  .submit-and-cancel-buttons button {
    width: 80%;
    margin: 0.5rem 0.3125rem;
  }
}
